import {
  Component,
	Event,
	EventEmitter,
  h,
  Host,
	Prop
} from '@stencil/core';

{{#if useArray}}
import {
  {{toPascalCase name}}Item
} from './{{lowerCase name}}.interface';
{{/if}}

@Component({
  tag: 'abg-{{lowerCase name}}',
  styleUrl: '{{lowerCase name}}.scss',
	{{#if useShadowDOM}}
  shadow: true,
	{{/if}}
})
export class {{toPascalCase name}}
{
  @Prop() showDescription: boolean = false;
	{{#if useArray}}
  @Prop() items: {{toPascalCase name}}Item[];
	{{else}}
	@Prop() heading: string;
	@Prop() description: string;
	@Prop() url: string;
	{{/if}}

	@Event() abg{{toPascalCase name}}: EventEmitter<any>;

  private handleUrlClick(e: Event, link: string) {
    e.preventDefault();
		console.log(link);
    // Do something maybe
  }

	render() {
		return (
			<Host>
				<h1>abg-{{lowerCase name}} works!</h1>
				{{#if useArray}}
				<ul>
					{this.items.map((item) => (
						<li key={item.id}>
							<a
								href={item.url}
								onClick={(e) => this.handleUrlClick(e, item.url)}
								>
									<h2>{item.heading}</h2>
							</a>
							{this.showDescription
								? <p>{item.description}</p>
								: null
							}
						</li>
					))}
				</ul>
				{{else}}
				<a
					href={this.url}
					onClick={(e) => this.handleUrlClick(e, this.url)}
					>
						<h2>{this.heading}</h2>
				</a>
				{this.showDescription
					? <p>{this.description}</p>
					: null
				}
				{{/if}}
			</Host>
		);
	}
}